* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: hsl(216, 47%, 55%);
    --color-secondary: hsl(184, 100%, 50%);

    --color-blue-bg: hsl(217, 54%, 11%);
    --color-blue-bg-2: hsl(216, 50%, 16%);
    --color-blue-line: hsl(215, 56%, 35%);
    --color-white: hsl(0, 0%, 100%);
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit',
        sans-serif;
     background-color: #524f4f;
    color: var(--color-white);
}

.card {
    width: 55rem;
    height: 55rem;
    background-color: #1d1d1d;
   overflow: hidden;
    border-radius: 8px;
    box-shadow: 0rem 1.5rem 3rem 0rem rgba(0, 0, 0, .2);
    background-image: linear-gradient(to bottom, #c7b5b5, #140c22);
    
}

.container {
    
    padding: 2.5rem;
    /* border-radius: 8px; */
}

.img img {
    height: 50%;
    width: 100%;
    border-radius: 8px;
}

.heading {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.heading-primary {
    font-size: 2rem;
    padding: 1.5rem 0;
}

.paragraph {
    font-size: 1.5rem;
    color: var(--color-primary);
}

.stats {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    
}

.stat__eth {
    height: 1.4rem;
    padding-right: .8rem;
}

.price {
    display: flex;
    font-size: 1.3rem;
    color: var(--color-secondary);
}

.sell-date {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: var(--color-primary);
}

.clock {
    height: 1.3rem;
    padding-right: .4rem;
}

.footer {
    display: flex;
    align-items: center;
    margin: 0 1.5rem;
    padding-top: 2rem;
    border-top: 1px solid var(--color-blue-line);
}

#avatar {
    height: 4rem;
    border-radius: 50%;
    border: 2px solid #1d1d1d;
    margin-right: 1rem;

}

.footer p {
    font-size: 1.3rem;
    color: var(--color-primary);
}

.footer span {
    color: var(--color-white);
}




/* 
let dog= {

    name: "Shibe #5079",
    price: "0.09ETH",
    description: "Shiba Shelter is a collection of shibes on the Ethereum Blockchain",
    nft: "https://lh3.googleusercontent.com/BLAw9VE-D5PyYfu7u_KbxBIrl_j5jI8I4UAt8H-qTGRZ4FBaFWNKb0HHP5Uk1shKvmC5LGpfi1ivK8G2BDuZOE30TVS8J8W-WngOyIE=w600",
    backgroundColor: "#00FFFF",
    cardColor: "#FFC579",
    otherData: {
        owner: "Lance Toledo",
            daysLeft: "1 day left",
            profileImg: "https://lh3.googleusercontent.com/a-/AOh14GiBv7fSEkk1Kr_3jpQfHTuEHh6V1ehFsg_sLNg0=s40-c",
    }
} */
